.btn {
  background-color: transparent;
  color: white;
  position: relative;
  overflow: hidden;
}

.text-btn {
  padding: 4px 8px;
}

.icon-btn {
  aspect-ratio: 1;
}

.border-radius-50 {
  border-radius: 50%;
}
